.btn-sci-white {
    background: transparent;
    border: 3px solid #fff;
    padding: 8px 15px;
    color: #fff;
    border-radius: 3px;
    font-weight: 800;
    transition: all 0.3s;
}

.btn-sci-white:hover {
    background-color: #fff;
    color: #891013;

}

.btn-sci {
    background: transparent;
    border: 3px solid #891013;
    padding: 8px 15px;
    color: #891013;
    border-radius: 3px;
    font-weight: 800;
    transition: all 0.3s;
}

.btn-sci:hover {
    background-color: #891013;
    color: #fff;

}

.title-page {
    font-size: 35px;
    color: #4B0E11;
    font-weight: 800;
    text-align: center;
}

.title-page::after {
    content: "";
    height: 5px;
    width: 100px;
    background-color: #891013;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-mvv {
    color: #fff;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 20px;
}

.h-100 {
    height: 100%;
}

.mt-55 {
    margin-top: 55px;
}

.title-filtro {
    font-style: 30px;
    color: #891013;
    font-weight: 900;
}

.postagem-input {
    width: 100%;
    border: 1px solid #989898;
    padding: 10px;
    padding-right: 50px;
    border-radius: 3px;
}