* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    overflow-x: hidden;
}

#header {
    background: transparent linear-gradient(218deg, #4B0E11 0%, #0F0303 100%) 0% 0% no-repeat padding-box;
    height: 60px;
}

#header .container {
    height: 100%;
}

#header .container .header-infos {
    display: flex;
    align-items: center;
    height: 100%;
}

#header .container .header-infos .head-icons {
    margin-right: auto;
}

#header .container .header-infos .backoffice {
    margin-left: auto;
}

#header .container .header-infos .head-icons .icon-list {
    list-style: none;
    display: flex;
    margin: 0px;
}

#header .container .header-infos .head-icons .icon-list li {
    margin-left: 15px;
}

#header .container .header-infos .head-icons .icon-list li a {
    color: #fff;
    font-size: 20px;
    transition: all 0.2s ease;
}

#header .container .header-infos .head-icons .icon-list li a:hover {
    opacity: 0.8;
}

.navbar-light .navbar-nav .nav-link {
    color: #4B0E11;
    text-transform: uppercase;
    position: relative;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
    font-weight: 900;
}

.navbar-light .navbar-nav .nav-item.active .nav-link::after {
    content: "";
    height: 5px;
    width: 49px;
    display: block;
    background-color: #891013;
    margin-top: 15px;
    position: absolute;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.home-carousel {
    margin-bottom: 75px;
}

.home-carousel .title-carousel h1 {
    text-align: center;
    font-size: 52px;
    font-weight: 800;
    letter-spacing: 0;
    color: #891013;
}

.home-carousel .title-carousel p {
    width: 60%;
    margin: auto;
    text-align: center;
}

.nossos-produtos {
    margin-bottom: 75px;
}

.nossos-produtos p {
    padding: 0 20px;
}

.nossos-produtos button {
    margin-left: 20px;
}

.nossos-produtos img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.call-to-action {
    position: relative;
}

.call-to-action img {
    width: 100%;
}

.call-to-action .cta-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 0 150px;
    font-size: 25px;
    width: 50%;
    text-align: center;
    color: #fff;
}

/* PLANOS */

.onde-surgiu {
    margin-top: 55px;
}

.onde-surgiu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 60%;
    margin: auto;
    display: block;
}

.onde-surgiu .mvv-box {
    background-color: #4B0E11;
    height: 640px;
    padding: 20px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 400px;
    margin: auto;
}

.beneficios .cartao {
    background-color: #ECE6E6;
    position: relative;
}

.beneficios .cartao img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.beneficios .cartao .caption {
    position: absolute;
    bottom: 40px;
    font-size: 50px;
    text-align: center;
    display: block;
    width: 100%;
    margin: auto;
    padding: 0 200px;
    font-weight: 900;
    color: #fff;
}

.beneficios .cartao .title-beneficios {
    font-size: 50px;
    font-weight: 900;
    color: #891013;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 50px;
}

.beneficios .cartao .txt-beneficios {
    color: #4b0e11;
    padding-left: 50px;
    padding-right: 15px;
}

.beneficios .cartao ul {
    list-style: none;
    padding-left: 50px;
    color: #4b0e11
}

.lances {
    margin-top: 55px;
    margin-bottom: 55px;
}

.lances .title-lances {
    font-size: 50px;
    font-weight: 900;
    color: #891013;
    text-align: center;
}

.lances .title-prod-lances {
    font-size: 20px;
    color: #4B0E11;
}

.lances .desc-prod {
    margin: 0;
}

.lances .price-prod {
    margin: 0;
    font-size: 25px;
    font-weight: 900;
    color: #4b0e11;
}

.lances .como-funciona {
    font-size: 25px;
    color: #4b0e11;
    margin-bottom: 20px;    
}

.lances a:hover {
    text-decoration: none;
}

.lances .btn-leilao {
    display: block;
    margin: auto;
}

.lances .lances-item img {
    max-width: 140px;
}

.lances img {
    width: 100%;
    max-width: 350px;
}

.indicar-img {
    margin-top: 10px;
}

.indicar-img img{
    max-width: 370px;
    margin: auto;
    display: block;
    padding-left: 10px;
}

footer {
    background-color: #891013;
    padding: 30px;
}

footer img {
    margin: auto;
    display: block;
}

footer .contato {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

footer i {
    margin-right: 10px;
}

footer .email {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

footer .redes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer .redes a {
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}