* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

#header {
    background: transparent linear-gradient(218deg, #4B0E11 0%, #0F0303 100%) 0% 0% no-repeat padding-box;
    height: 60px;
}

#header .container {
    height: 100%;
}

#header .container .header-infos {
    display: flex;
    align-items: center;
    height: 100%;
}

#header .container .header-infos .head-icons {
    margin-right: auto;
}

#header .container .header-infos .backoffice {
    margin-left: auto;
}

#header .container .header-infos .head-icons .icon-list {
    list-style: none;
    display: flex;
    margin: 0px;
}

#header .container .header-infos .head-icons .icon-list li {
    margin-left: 15px;
}

#header .container .header-infos .head-icons .icon-list li a {
    color: #fff;
    font-size: 20px;
}

.home-carousel {
    margin-bottom: 75px;
}

.home-carousel .title-carousel h1 {
    text-align: center;
    font-size: 52px;
    font-weight: 800;
    letter-spacing: 0;
    color: #891013;
}

.home-carousel .title-carousel p {
    width: 60%;
    margin: auto;
    text-align: center;
}

.nossos-produtos {
    margin-bottom: 75px;
}

.nossos-produtos p {
    padding: 0 20px;
}

.nossos-produtos button {
    margin-left: 20px;
}

.nossos-produtos img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.call-to-action {
    position: relative;
}

.call-to-action img {
    width: 100%;
}

.call-to-action .cta-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 0 150px;
    font-size: 25px;
    width: 50%;
    text-align: center;
    color: #fff;
}