@media(max-width: 1330px) {
    .beneficios .cartao .caption {
        font-size: 30px;
    }
}

@media (max-width: 1200px) {
    .empresa .empresa-img img {
        width: 100%;
    }

    .empresa .box .empresa-text {
        position: relative;
        width: 100%;
    }
}

@media(max-width: 990px) {
    .divisao .container .divisao-banner .divisao-caption p.txt-especial {
        font-size: 80px;
    }
}

@media(max-width: 740px) {
    .beneficios .cartao .caption {
        padding: 0 30px;
    }
}

@media(max-width: 490px) {
    .beneficios .cartao .title-beneficios {
        font-size: 30px;
    }

    .lances .title-lances {
        font-size: 30px;
    }

    .divisao .container .divisao-banner .divisao-caption p {
        font-size: 30px;
    }
    
    .divisao .container .divisao-banner .divisao-caption p.txt-especial {
        font-size: 60px;
    }

    .movimento .movimento-text img {
       width: 200px; 
    }
    
    .movimento .movimento-text p {
        font-size: 20px;
    }
}